<header id="header" class="header">
   <div class="header-top">
      <div class="header-top__menu-bar">
         <h1 class="site-heading visuallyhidden">
            Make Me Reels
         </h1>
         <a href="/" class="site-logo">
         <img class="site-logo__img" src="./img/logo.svg" alt="">
         </a> 
         <h2 id="nav-label" class="nav__label">Menu</h2>
         <button type="button" class="nav__toggler" aria-expanded="false">
            <span class="nav__toggler-icon" aria-hidden="true"></span>
            <div class="nav__toggler-label not-active">
               <span></span>
               <span></span>
               <span></span>                    
            </div>
         </button>
      </div>
      <nav class="main-nav mt-2" aria-labelledby="nav-label">
         <div class="supehero-menu-wrap">
            <ul class="main-menu o-list">
               <li class="main-menu__item">
                  <a href="#" class="main-menu__link">Test 1</a>
               </li>
               <li class="main-menu__item">
                  <a href="#" class="main-menu__link">Test 2</a>
               </li>
            </ul>
         </div>
      </nav>
   </div>
</header>